<!doctype html>
<html>
<head>
<title><%= title %></title>
</head>

<body>

    <h1>Welcome to MyAmazon</h1>
    <% results.forEach(function(product){ %>
    <li><%= product.productname %> <%= product.price %> $</li>
    <% }); %>

</body>

</html>